@import "tailwindcss";

@theme {
  --color-primary: hsl(217 91% 60%);
  --color-primary-foreground: hsl(0, 0%, 100%);
  --color-primary-hover: hsl(120, 100%, 25%);
  --color-secondary: hsl(143 70% 50%);
  --color-secondary-foreground: hsl(210 40% 98%);

  --font-inter: var(--font-inter);
}

:root {
  --background: #ffffff;
  --foreground: #656565;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #5b5b5b;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
}

/* Carousel Styles */
.slick-prev:before,
.slick-next:before {
  color: black !important;
}

.slick-prev:hover:before,
.slick-next:hover:before {
  color: #333 !important;
}

.carousel-container {
  padding: 0 16px;
}

.slick-slide {
  padding: 0 8px;
}

@media (min-width: 480px) and (max-width: 1205px) {
  .card-content {
    min-height: 200px;
  }
}

.react-datepicker__day--outside-month {
  color: #d1d5db !important;
}
